<h1>ADD TASK TO LIST</h1>
<p>Please write in the field below and then submit:</p>
<form method="POST" action="/taskList/add/{{l}}">
  <div>
    Task:<input type="text" name="title" id="title" required>
  </div>
  <br>
  <input type="submit" value="Submit">
</form>