<head>{{title}}</head>
<body>
    {{#each milestone}}
        <div class="row">
            <div class="col">
                <h2>Milestone title : {{this.title}}</h2>
                <h3>Milestone id : {{this.id}}</h3>
            </div>
        </div>
    </div>
    {{/each}}
</body>
<button onclick="document.location='/'">HOME</button>
