<head>{{title}}</head>
<div class="row">
    <div class="col">
        <p> Tasks[
            {{#each l}}
            <br>{{title}}
            {{/each}}
            <br>]
        </p>
        <button onclick="document.location='/'">HOME</button>
    </div>
</div>