<style>
  img {
    width: 30px;
  }
</style>

<h1>Task Lists</h1>
{{#each l}}
<div class="row">
  <div class="col">
    <h3><a href="/taskList/{{this.id}}">{{this.title}}</a></h3>
    <p>Task List ID: {{this.id}}</p>
  </div>
  <div class="col">
    <br>
    <button onclick="document.location='/taskList/add/{{id}}'">ADD TASK<img
        src="https://icon-library.com/images/pencil-png-icon/pencil-png-icon-17.jpg"></button>
  </div>
</div>
<hr>
{{/each}}
<button onclick="document.location='/'">HOME</button>